<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.product.CategoryBrandMapper">

    <resultMap id="categoryBrandVO" type="io.xccit.zxyp.model.entity.product.CategoryBrand" autoMapping="true"></resultMap>
    <sql id="columns">
        `id`,`brand_id`,`category_id`,`create_time`,`update_time`,`is_deleted`
    </sql>
    <!--品牌分类添加-->
    <insert id="save">
        insert into category_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandId != null">
                #{brandId},
            </if>
            <if test="categoryId != null">
                #{categoryId},
            </if>
        </trim>
    </insert>
    <!--品牌分类删除-->
    <update id="remove">
        update category_brand
        <set>
            is_deleted = 1
        </set>
        <where>
            id in
            <foreach collection="ids" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </update>
    <!--品牌分类修改-->
    <update id="update">
        update category_brand
        <set>
            <if test="brandId != null">
                brand_id = #{brandId},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            update_time = CURRENT_TIMESTAMP
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="listCategoryBrandPage" resultMap="categoryBrandVO">
        select cb.*,c.image_url AS categoryImage,b.name brandName,b.logo AS logo,c.name categoryName
        from category_brand cb
        INNER JOIN category c ON cb.category_id = c.id
        INNER JOIN brand b ON cb.brand_id = b.id
        <where>
            <if test="brandId != null">
                and brand_id = #{brandId}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            and cb.is_deleted = 0
        </where>
    </select>
    <!--根据分类ID查询品牌数据-->
    <select id="listBrandByCategoryID" resultType="io.xccit.zxyp.model.entity.product.Brand">
        SELECT
            b.id,b.logo,b.name
        FROM category_brand cb
        INNER JOIN brand b ON b.id = cb.brand_id
        <where>
            and cb.category_id = #{categoryId}
            and cb.is_deleted = 0
            and b.is_deleted = 0
        </where>
    </select>
</mapper>