<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.SysRoleMapper">
    <resultMap id="roleVO" type="io.xccit.zxyp.model.entity.system.SysRole">
        <id property="id" column="id"></id>
        <result column="role_name" property="roleName"></result>
        <result column="role_code" property="roleCode"></result>
        <result column="description" property="description"></result>
    </resultMap>
    <sql id="selectVO">
        select `id`,`role_name`,`role_code`,`description`,`create_time`,`update_time`,`is_deleted` from sys_role
    </sql>
    <!--添加角色-->
    <insert id="saveRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null and roleName != ''">
                role_name,
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null and roleName != ''">
                #{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                #{roleCode},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
        </trim>
    </insert>
    <!--根据ID删除/批量删除-->
    <update id="removeByIds">
        update sys_role
        <set>
            is_deleted = 1
        </set>
        <where>
            id in
            <if test="roleIds != null">
                <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
                    #{roleId}
                </foreach>
            </if>
        </where>
    </update>
    <!--修改角色-->
    <update id="updateRole">
        update sys_role set
        <if test="roleName != null and roleName != ''">
            role_name = #{roleName},
        </if>
        <if test="roleCode != null and roleCode != ''">
            role_code = #{roleCode},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        update_time = NOW()
        <where>
            id = #{id}
        </where>
    </update>
    <!--分页条件查询角色信息-->
    <select id="listRolePage" resultMap="roleVO">
        <include refid="selectVO"></include>
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%',#{roleName},'%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>

</mapper>