<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.system.SysUserMapper">
    <!--菜单VO-->
    <resultMap id="menuVO" type="io.xccit.zxyp.model.entity.system.SysMenu" autoMapping="true">
        <id column="id" property="id"></id>
    </resultMap>
    <sql id="columns">
        `id`,`parent_id`,`title`,`component`,`sort_value`,`status`,`create_time`,`update_time`,`is_deleted`
    </sql>
    <!--配置了自动映射,这里手动映射一次-->
    <resultMap id="sysUserVO" type="io.xccit.zxyp.model.entity.system.SysUser">
        <id column="id" property="id"></id>
        <result column="username" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="name" property="name"></result>
        <result column="phone" property="phone"></result>
        <result column="avatar" property="avatar"></result>
        <result column="description" property="description"></result>
        <result column="status" property="status"></result>
        <result column="create_time" property="createTime"></result>
        <result column="create_time" property="createTime"></result>
        <result column="is_deleted" property="isDeleted"></result>
    </resultMap>
    
    <sql id="selectVO">
        select `id`,`username`,`password`,`name`,`phone`,`avatar`,`description`,`status`,`create_time`,`update_time`,`is_deleted`
                from `sys_user`
    </sql>
    <!--添加用户-->
    <insert id="save">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                userName,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="avatar != null and avatar != ''">
                avatar,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                #{userName},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="avatar != null and avatar != ''">
                #{avatar},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
        </trim>
    </insert>
    <!--用户删除-->
    <update id="remove">
        update sys_user set is_deleted = 1
        <where>
            <if test="userIds != null">
                and id in
                <foreach collection="userIds" separator="," open="(" close=")" item="userId">
                    #{userId}
                </foreach>
            </if>
        </where>
    </update>
    <!--用户更新-->
    <update id="update">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">
                username = #{userName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = CURRENT_TIMESTAMP
            <where>
                id = #{id}
            </where>
        </set>
    </update>
    <!--登录用户是否存在校验-->
    <select id="selectUserInfoByUserName" resultType="io.xccit.zxyp.model.entity.system.SysUser">
        <include refid="selectVO"></include>
        <where>
            <if test="inputUsername != null">
                and username = #{inputUsername}
            </if>
            and is_deleted = 0
        </where>
    </select>
    <!--分页条件列表查询-->
    <select id="listUserPage" resultMap="sysUserVO">
        <include refid="selectVO"></include>
        <where>
            <if test="keyword != null and keyword != ''">
                and username like concat('%',#{keyword},'%') or name like concat('%',#{keyword},'%') or phone like concat('%',#{keyword},'%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != '' and createTimeEnd != null and createTimeEnd != ''">
                and create_time between #{createTimeBegin} and #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
    <!--根据用户ID查询用户拥有的菜单信息 条件:未删除的,状态为正常的-->
    <select id="listMenusByUserID" resultType="io.xccit.zxyp.model.entity.system.SysMenu">
        select DISTINCT m.id,m.parent_id,m.title,m.component,m.sort_value,m.status
        from sys_menu m
        inner join sys_role_menu rm on rm.menu_id = m.id
        inner join sys_user_role ur on ur.role_id = rm.role_id
        <where>
            <if test="userId != null">
                and ur.user_id = #{userId}
            </if>
            and m.is_deleted = 0 and m.status = 1
        </where>
    </select>
</mapper>