<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.UserInfoMapper">
    <resultMap id="userInfoVO" type="io.xccit.zxyp.model.entity.user.UserInfo" autoMapping="true">
    </resultMap>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,username,password,nick_name,avatar,sex,phone,memo,open_id,union_id,last_login_ip,last_login_time,status,
        create_time,update_time,is_deleted
    </sql>
    <!--保存用户信息-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user_info
        ( id, username, password, nick_name, avatar, sex, phone, memo, open_id, union_id, last_login_ip,
        last_login_time, status)
        VALUES
        ( #{id}, #{username}, #{password}, #{nickName}, #{avatar}, #{sex}, #{phone}, #{memo}, #{openId}, #{unionId},
        #{lastLoginIp},
        #{lastLoginTime}, #{status})
    </insert>

    <!--根据用户名查询用户是否已经存在-->
    <select id="getUserByUserName" resultMap="userInfoVO">
        SELECT
        <include refid="columns"/>
        FROM user_info
        <where>
            username = #{username}
        </where>
    </select>
    <!--用户浏览历史分页列表-->
    <select id="listUserBrowseHistory" resultType="io.xccit.zxyp.model.vo.h5.UserBrowseHistoryVo">
        SELECT id,user_id,sku_id,create_time,update_time
        FROM user_browse_history
        <where>
            is_deleted = 0
            and user_id = #{userId}
        </where>
    </select>

</mapper>