<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.SysMenuMapper">

    <resultMap id="menuVO" type="io.xccit.zxyp.model.entity.system.SysMenu" autoMapping="true">
        <id column="id" property="id"></id>
    </resultMap>
    <sql id="columns">
        `id`,`parent_id`,`title`,`component`,`sort_value`,`status`,`create_time`,`update_time`,`is_deleted`
    </sql>
    <!--添加菜单-->
    <insert id="save">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="component != null and component != ''">
                component,
            </if>
            <if test="sortValue != null">
                sort_value,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null and createTime != ''">
                create_time,
            </if>
            <if test="updateTime != null and updateTime != ''">
                update_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="component != null and component != ''">
                #{component},
            </if>
            <if test="sortValue != null">
                #{sortValue},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null and createTime != ''">
                #{createTime},
            </if>
            <if test="updateTime != null and updateTime != ''">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <!--删除菜单-->
    <update id="remove">
        update sys_menu set is_deleted = 1 where id = #{menuId}
    </update>
    <!--更新菜单-->
    <update id="update">
        update sys_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="component != null and component != ''">
                component = #{component},
            </if>
            <if test="sortValue != null">
                sort_value = #{sortValue},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = CURRENT_TIMESTAMP
        </set>
        <where>
            and id = #{id}
        </where>
    </update>
    <!--查询所有菜单-->
    <select id="listAll" resultMap="menuVO">
        select
        <include refid="columns"></include>
        from sys_menu
        <where>
            and is_deleted = 0
        </where>
        order by `sort_value`
    </select>
    <!--查询是否含有子菜单-->
    <select id="listChildren" resultType="java.lang.Integer">
        select count(id) from sys_menu
        <where>
            parent_id = #{menuId} and is_deleted = 0
        </where>
    </select>
</mapper>