<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.product.BrandMapper">
    <resultMap id="categoryVO" type="io.xccit.zxyp.model.entity.product.Brand" autoMapping="true"></resultMap>
</mapper>