<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.product.CategoryMapper">

    <resultMap id="categoryVO" type="io.xccit.zxyp.model.entity.product.Category" autoMapping="true"></resultMap>
    <sql id="columns">
        `id`,`name`,`image_url`,`parent_id`,`status`,`create_time`,`update_time`,`is_deleted`
    </sql>

    <!--查询第一层数据-->
    <select id="listCategoryByParentID" resultType="io.xccit.zxyp.model.entity.product.Category">
        select <include refid="columns" />
        from category
        <where>
            <if test="id != null">
                parent_id = #{id}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
    <select id="getCountByParentID" resultType="java.lang.Integer">
        select count(id) from category
        <where>
            <if test="id != null">
                parent_id = #{id}
            </if>
            and is_deleted = 0
        </where>
    </select>
    <!--查询所有分类信息-->
    <select id="list" resultMap="categoryVO">
        select <include refid="columns"/>
        from category
        <where>
            is_deleted = 0
        </where>
    </select>
</mapper>