<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.UserAddressMapper">
    <resultMap id="userAddressVO" type="io.xccit.zxyp.model.entity.user.UserAddress" autoMapping="true"></resultMap>
    <sql id="columns">
        `id`,`user_id`,`name`,`phone`,`tag_name`,`province_code`,`city_code`,`district_code`,`address`,`full_address`,`is_default`,
        `create_time`,`update_time`,`is_deleted`
    </sql>
    <!--新增用户地址-->
    <insert id="saveAddress">
        INSERT INTO user_address
        (id,user_id,name,phone,tag_name,province_code,city_code,district_code,address,full_address,is_default)
        VALUES
        (#{id},#{userId},#{name},#{phone},#{tagName},#{provinceCode},#{cityCode},#{districtCode},#{address},#{fullAddress},#{isDefault})
    </insert>
    <!--用户地址修改-->
    <update id="updateAddressByID">
        UPDATE user_address
        <set>
            id = #{id},
            user_id = #{userId},
            name = #{name},
            phone = #{phone},
            tag_name = #{tagName},
            province_code = #{provinceCode},
            city_code = #{cityCode},
            district_code = #{districtCode},
            address = #{address},
            full_address = #{fullAddress},
            is_default = #{isDefault},
            update_time = #{updateTime}
        </set>
        <where>
            and id = #{id}
            and is_deleted = 0
        </where>
    </update>
    <!--根据ID,删除用户地址-->
    <update id="removeAddressByID">
        UPDATE user_address
        <set>
            is_deleted = 1
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <!--根据用户ID获取用户地址列表-->
    <select id="listAddressByUserID" resultMap="userAddressVO">
        SELECT <include refid="columns" />
        FROM user_address
        <where>
            user_id = #{userId}
        </where>
    </select>
    <!--根据ID获取地址信息-->
    <select id="getAddressByID" resultMap="userAddressVO">
        SELECT <include refid="columns" />
        FROM user_address
        <where>
            id = #{id}
        </where>
    </select>
</mapper>