<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.xccit.zxyp.mapper.order.OrderInfoMapper">

    <!--根据创建时间查询订单信息并封装成订单统计VO-->
    <select id="getOrderStatistics" resultType="io.xccit.zxyp.model.entity.order.OrderStatistics">
        SELECT
            DATE_FORMAT(oi.create_time ,'%Y-%m-%d') as orderDate, sum(oi.total_amount) as totalAmount ,
            count(oi.id) as totalNum
        FROM order_info oi
        <where>
            DATE_FORMAT(oi.create_time ,'%Y-%m-%d') = #{createTime}
        </where>
        GROUP BY DATE_FORMAT(oi.create_time ,'%Y-%m-%d')
    </select>
</mapper>